/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: "Zefani";
  src: url("../font/Zefani/Zefani.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Handjet";
  src: url("../font/Handjet/Handjet-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Handjet";
  src: url("../font/Handjet/Handjet-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Handjet";
  src: url("../font/Handjet/Handjet-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poiret One";
  src: url("../font/PoiretOne/PoiretOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/JetBrainsMono/JetBrainsMono.woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* body {
  font-family: "JetBrains Mono", monospace;
} */

:root,
[data-bs-theme="dark"] {
  --black: #000000;
  --green: #7bae37;
  --lightGreen: #bcfd49;
  --aquamarine: #62fcaf;
  --full-color: #ffffff;
  --white: #f0ffff;
  --off-white: rgba(255, 255, 255, 0.2);
  --pink: #e3a393;
  --bs-body-color: #f0ffff;
  --bs-link-color-rgb: #f0ffff;
  --bs-link-hover-color-rgb: #09e85e;
  --bs-progress-bar-color: #b6b544;
  --bs-progress-bar-bg: #b6b544;
  --accent: #00E676;
  --twilightBlue: #f0ffff;
  --grey: #797986;
  --lightGrey: #bbbcbe;
  --yellowish-color: #f2e9d0;
  --dark-yellowish-color: #d4ccb6;
  /* --accent-color: #18d26e; */
  --accent-color: #09e85e;
  --typewriter-steps: 92;
  --typewriter-duration: 5s;
  /* --typewriter-duration: clamp(2s, 5vw, 6s);
  --typewriter-steps: clamp(40, 60, 120); */
  /* --typewriter-duration: clamp(3s, 7vw, 8s);
  --typewriter-steps: clamp(60, 90, 160); */
  --cursor-color: orange;
}

[data-bs-theme="light"] {
  --black: #FFFFFF;
  --green: blue;
  --lightGreen: orange;
  --aquamarine: #62fcaf;
  --white: #1e2019;
  --off-white: rgba(0, 0, 0, 0.2);
  --full-color: #000000;
  --bs-body-color: #1e2019;
  --pink: #e3a393;
  --bs-link-color-rgb: #1e2019;
  --bs-link-hover-color-rgb: #6f73d2;
  --bs-progress-bar-color: #b6b544;
  --bs-progress-bar-bg: #b6b544;
  --accent: #7F00FF;
  --twilightBlue: #1e2019;
  --grey: #797986;
  --lightGrey: #7d7e75;
  --yellowish-color: #CB9173;
  --dark-yellowish-color: #d4ccb6;
  --accent-color: #6f73d2;
  --typewriter-steps: 92;
  --typewriter-duration: 5s;
  --cursor-color: orange;
}

:root {
  /* --light-color: rgba(204, 204, 204, 0.1); */
  --light-color: rgb(204 204 204 / 12%);
  --yellow: #f7b32b;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: 'Inter', sans-serif; */
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  background: var(--black);
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Zefani", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
.glightbox-clean .gslide-title {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "JetBrains Mono", monospace;
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

p {
  color: var(--white);
}

iframe {
  background: var(--black);
}

.spinner-wrapper {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-on-load {
  color: var(--accent);
  display: inline-block;
  animation: spin 1s linear infinite;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  max-width: 90vw;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#header h1 a {
  line-height: 1;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 0.5625rem;
}

#header h2 {
  font-weight: 300;
  font-size: clamp(0.5em, 3vw, 1em);
  color: var(--accent);
  /* font-family: inherit; */
  letter-spacing: 0.08125rem;
  margin-top: 1.25rem;
  white-space: normal;
  overflow: hidden;
  align-self: flex-start;
  /* border-right: .15em solid var(--cursor-color); */
  /* animation:
    typing var(--typewriter-duration) steps(var(--typewriter-steps), end) forwards,
    blink .75s step-end infinite; */
}

/* Keyframes for the typing animation */

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Keyframes for the blinking cursor animation */

@keyframes blink {

  from,
  to {
    border-right-color: transparent;
  }

  50% {
    border-right-color: var(--cursor-color);
  }
}

#header h2 span {
  letter-spacing: 0.0625rem;
  /* border-bottom: 2px solid var(--accent); */
  color: var(--accent);
}

#header h2 span:hover {
  background: linear-gradient(#eee, #333);
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 2.5rem;
  display: flex;
  height: 6.25rem;
  margin-left: 2rem;
}

#header .social-links a {
  /* font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(from var(--full-color) r g b / 0.1);
  color: var(--white);
  line-height: 1;
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem; */
  color: var(--accent);
}

#header .social-links a:hover {
  /* background: var(--accent); */
  font-style: italic;
}

/* Header Top */

#header.header-top {
  height: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  background: var(--black);
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 2.25rem;
}

#header.header-top img {
  max-height: 3.75rem;
  margin-right: 1.25rem !important;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header h1 {
    align-self: flex-start;
  }

  #header.header-top {
    height: 3.75rem;
  }

  #header.header-top h1 {
    font-size: 1.625rem;
  }

  #header .social-links {
    align-self: flex-start;
  }

  #header h2 {
    min-height: 4.0625rem;
  }

  #header .navbar {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  #header h1 a {
    font-size: 1.1875rem;
    letter-spacing: 0.4375rem;
  }

  #header h2 span {
    padding-bottom: 0;
  }

  #header h2 {
    line-height: 1.875rem;
  }

  #header .social-links {
    margin-top: 0.9375rem;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me .row .content h3 {
    font-size: 1.1875rem;
  }
}

/*--------------------------------------------------------------
# Color Theme
--------------------------------------------------------------*/

#utils {
  position: absolute;
  top: 0.75rem;
  right: 3.4375rem;
  z-index: 999;
  display: flex;
  gap: 0.9375rem;
}

@media (max-width: 1600px) {
  #utils {
    top: 3.75rem;
    right: 0.75rem;
  }
}

button#bd-theme {
  background: transparent;
  border-color: var(--accent);
}

button#bd-theme::after {
  color: var(--accent);
}

#color-theme-dropdown,
.color-theme-list {
  min-width: 3.875rem;
  position: relative;
}

#color-theme-dropdown .bi {
  color: var(--yellow);
}

/*--------------------------------------------------------------
# Audio Player Controls
--------------------------------------------------------------*/

.audio-player-container {}

.control-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--accent);
  font-size: 1.4rem;
  outline: none;
}

.volume-icon {
  color: var(--accent);
}

#playPauseButton {
  width: 100%;
  text-align: right;
}

.volume-container {
  display: flex;
  align-items: center;
  margin-left: 0.9375rem;
}

#volumeSlider {
  width: 100%;
  vertical-align: middle;
  -webkit-appearance: none;
  background: transparent;
  margin: 0.3125rem;
}

/* Styling the Track */

/* Webkit */
#volumeSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.625rem;
  cursor: pointer;
  background: var(--white);
  border-radius: 0.3125rem;
  border: none;
}

/* Firefox */
#volumeSlider::-moz-range-track {
  width: 100%;
  height: 0.625rem;
  cursor: pointer;
  background: var(--white);
  border-radius: 0.3125rem;
  border: none;
}

/* IE/Edge */
#volumeSlider::-ms-track {
  width: 100%;
  height: 0.625rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Webkit thumb */
#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
  margin-top: -0.375rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000,
    0 0.0625rem #0d0d0d;
}

/* Firefox thumb */
#volumeSlider::-moz-range-thumb {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
}

/* IE/Edge thumb */
#volumeSlider::-ms-thumb {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
  margin-top: 0;
}

#volumeSlider:focus {
  outline: none;
}

#volumeSlider:focus::-webkit-slider-runnable-track {
  background: var(--yellowish-color);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.navbar {
  font-family: "JetBrains Mono", monospace;
  padding: 0;
  margin-top: 2.1875rem;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 1.875rem;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  line-height: 1;
  letter-spacing: 0.125em;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 0.75rem;
  line-height: 0;
  margin-left: 0.3125rem;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  bottom: -0.9375rem;
  left: 0;
  background-color: var(--accent);
  visibility: hidden;
  width: 0;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 1.5625rem;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--accent);
}

/* Mobile Navigation */

.mobile-nav-toggle {
  color: var(--white);
  font-size: 1.75rem;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 0.9375rem;
  top: 0.9375rem;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--black);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 3.4375rem;
  right: 0.9375rem;
  bottom: 2.8125rem;
  left: 0.9375rem;
  padding: 0.625rem 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgb(from var(--white) r g b / 0.1);
}

.navbar-mobile li {
  padding: 0.75rem 1.25rem;
  padding-bottom: 1.875rem;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 1rem;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 8.75rem;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 6.25rem;
  bottom: auto;
  opacity: 1;
  padding-bottom: 2.8125rem;
}

section .container {
  background: var(--black);
  padding: 1.875rem;
}

.section-title h2 {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0;
  margin: 0 0 0.9375rem 0;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: var(--lightGrey);
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 7.5rem;
  height: 0.125rem;
  display: inline-block;
  background: var(--accent);
  margin: 0.25rem 0.625rem;
}

.section-subtitle h2 {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: var(--lightGrey);
  font-family: "Poppins", sans-serif;
  margin: 0 0 0.625rem 0;
}

/* .section-subtitle::after {
  content: "";
  width: 7.5rem;
  height: 0.0625rem;
  display: inline-block;
  background: var(--bs-link-hover-color-rgb);
  margin: 0.25rem 0.625rem;
} */

.section-title p,
.section-title span {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  /* margin: 0; */
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 0 0.9375rem 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about-me .content h3 {
  /* font-family: 'Handjet', sans-serif; */
  font-family: "Poiret One", sans-serif;
  font-weight: 500;
  font-size: 1.625rem;
  /* color: var(--bs-link-hover-color-rgb); */
  color: var(--accent);
  letter-spacing: 0.125rem;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 1.25rem;
  display: flex;
  /* align-items: center; */
  color: var(--accent);
}

.about-me .content ul strong {
  color: var(--bs-link-hover-color-rgb);
  margin-right: 0.625rem;
}

.about-me .content ul i {
  /* font-size: 1rem; */
  margin-right: 0.3125rem;
  /* line-height: 0; */
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.08125rem;
  line-height: 1.4;
}

.about-me .content p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.08125rem;
  line-height: 1.4;
  padding: 0 1.5rem;
  color: var(--white);
}

.about-me .content p i:hover {
  background: linear-gradient(#eee, #333);
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
  padding: 4.375rem 0 3.75rem;
}

.counts .count-box {
  padding: 1.875rem 1.875rem 1.5625rem 1.875rem;
  width: 100%;
  position: relative;
  text-align: center;
  background: var(--light-color);
}

.counts .count-box i {
  position: absolute;
  top: -1.5625rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  color: var(--accent);
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box span {
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
  color: var(--white);
}

.counts .count-box p {
  font-family: "Poiret One", sans-serif;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .progress {
  height: 8.5rem;
  /* 60px */
  display: block;
  background: none;
  border-radius: 0;
}

/* .skills .skills-content .col-lg-6:nth-child(2) .progress:first-child,
.skills .skills-content .col-lg-6:nth-child(2) .progress:nth-last-child(2) {
  height: 5.3125rem;
} */

.skills .skills-content .col-lg-6:nth-child(2) .progress:last-child {
  height: 2.5rem;
}

.skills .progress>span:first-child {
  text-transform: uppercase;
}

.skills .progress .skill {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
  /* text-transform: uppercase; */
  display: block;
  color: var(--white);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.skills .progress-bar {
  width: 0.125rem;
  height: 0.1875rem;
  border-radius: 10px;
  transition: 0.9s;
  background-color: var(--accent);
}

@media (max-width: 768px) {
  section {
    top: 7.5rem;
  }

  section.section-show {
    top: 6.25rem;
  }

  .section-title p,
  .section-title span {
    font-size: 1.5rem;
    margin: 0;
  }

  .about-me .content h3+p {
    text-indent: 0.9375rem;
  }

  /* 
  .skills .progress {
    height: 8.125rem;
  } */

  /* .skills .progress:nth-child(2) {
    height: 10.3125rem;
  } */

  .skills .skills-content .col-lg-6:nth-child(2) .progress:first-child {
    /* height: 5.8125rem; */
    margin-top: 0.9375rem;
  }

  .skills .skills-content .col-lg-6:nth-child(2) .progress:nth-last-child(2) {
    height: 4.875rem;
  }

  .section-title h2::after {
    width: 5.3125rem;
  }
}

/*--------------------------------------------------------------
# Awards, Interests, Organizations
--------------------------------------------------------------*/

.icon-box i {
  font-size: 2rem;
  line-height: 1;
  color: var(--accent);
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/

.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  background: var(--light-color);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  padding-right: 0.625rem;
}

.interests .icon-box h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1rem;
  color: var(--white);
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}

/*--------------------------------------------------------------
# Awards
--------------------------------------------------------------*/

.awards .icon-box {
  display: grid;
  grid-template-areas:
    "a b"
    "a d";
  grid-template-columns: 2rem auto;
  grid-template-rows: minmax(2rem, auto) auto;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.3125rem;
  align-items: center;
  padding: 1.25rem;
  background: var(--light-color);
  transition: ease-in-out 0.3s;
}

.awards .icon-box i {
  grid-area: a;
}

.awards .icon-box h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.08125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  /* line-height: 1; */
  color: var(--white);
}

.awards .icon-box h3+span {
  font-size: 0.8125rem;
  grid-area: d;
  color: var(--accent);
}

.awards .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 20rem;
}

.testimonials .testimonial-item .testimonial-img {
  width: 5.625rem;
  border-radius: 50%;
  margin: -2.5rem 0 0 2.5rem;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-family: "Handjet", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0.625rem 0 0.3125rem 2.8125rem;
  color: var(--twilightBlue);
}

.testimonials .testimonial-item h4 {
  font-size: 0.875rem;
  color: var(--grey);
  margin: 0 0 0 2.8125rem;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.625rem;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -0.3125rem;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -0.3125rem;
  position: relative;
  top: 0.625rem;
}

.testimonials .testimonial-item p {
  font-family: "Poiret One", sans-serif;
  font-style: italic;
  margin: 0 0.9375rem;
  padding: 1.25rem 1.25rem 3.75rem 1.25rem;
  color: var(--twilightBlue);
  background: var(--light-color);
  border-radius: 0.375rem;
  position: relative;
  z-index: 1;
  max-height: 18.4375rem;
  overflow: auto;
}

.testimonials .swiper-pagination {
  margin-top: 1.25rem;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  background-color: rgb(from var(--full-color) r g b / 0.3);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent);
}

/*--- Back To Top ---*/

#back-to-top {
  position: fixed;
  display: none;
  right: 4%;
  bottom: 2.75rem;
  z-index: 99999999;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  transition: all 0.4s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#back-to-top i {
  opacity: 0.7;
  transition: opacity 0.3s;
}

#back-to-top i:hover {
  color: #eee;
  opacity: 1;
}

#back-to-top i:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--accent);
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-header {
  display: grid;
  grid-auto-columns: auto 1fr;
  grid-template-areas:
    "a a"
    "b c";
}

.resume .resume-label {
  grid-area: b;
}

.resume .btn {
  grid-area: c;
  justify-self: flex-end;
  align-self: center;
  border: none;
  padding: 0;
  font-size: 1.375rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.resume .btn>span {
  font-family: "JetBrains Mono", monospace;
  color: var(--accent);
  font-size: 0.875rem;
  font-weight: normal;
}

.resume .btn>span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.125rem;
  width: 0%;
  background: currentColor;
  transition: width 300ms ease;
}

.resume .btn>span:hover::after {
  width: 100%;
}

/* .resume .btn:hover>span {
  background: linear-gradient(#eee, #333);
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.resume .resume-title {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--white);
}

.resume .resume-item {
  padding: 0 0 1.25rem 1.25rem;
  margin-top: -0.125rem;
  border-left: 2px solid var(--off-white);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 1;
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 0.625rem;
}

.resume .resume-item h5 {
  font-size: 0.875rem;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.3125rem 0.9375rem;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.625rem;
}

.resume .resume-item ul {
  padding-left: 1.25rem;
}

.resume .resume-item ul li {
  padding-bottom: 0.625rem;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  left: -0.5625rem;
  top: 0;
  background: var(--accent);
  border: 2px solid var(--accent);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
  text-align: center;
  background: var(--light-color);
  padding: 5rem 1.25rem;
  transition: all ease-in-out 0.3s;
  width: 100%;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  background: var(--accent);
  border-radius: 0.3125rem;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  transform-style: preserve-3d;
}

.services .icon-box .icon i {
  color: var(--white);
  font-size: 1.75rem;
}

.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -0.5rem;
  top: -0.5rem;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.3125rem;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
  z-index: -1;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
}

.services .icon-box h4 a {
  font-family: "Handjet", sans-serif;
  font-weight: 100;
  font-size: 1.3125rem;
  color: var(--white);
}

.services .icon-box p {
  line-height: 1.5rem;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.services .icon-box:hover {
  background: var(--accent);
  border-color: var(--accent);
}

.services .icon-box:hover .icon {
  background: var(--white);
}

.services .icon-box:hover .icon i {
  color: var(--accent);
}

.services .icon-box:hover .icon::before {
  background: var(--accent);
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: var(--white);
  font-weight: normal;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio .portfolio-item {
  margin-bottom: 1.875rem;
  /* margin: 0 0.3125rem 1.875rem 0.3125rem; */
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 0.9375rem auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 0.125rem 0.9375rem;
}

.portfolio #portfolio-flters li {
  font-family: 'JetBrains Mono', monospace;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem 0.625rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
  background: var(--light-color);
  margin: 0 0.1875rem 0.625rem 0.1875rem;
  transition: all 0.3s ease-in-out;
  border-radius: 0.25rem;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: var(--accent);
  color: var(--bs-white);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  max-height: 10.25rem;
  margin: 0 0.625rem;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 1.875rem;
  right: 1.875rem;
  top: 1.875rem;
  bottom: 1.875rem;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 2.1875rem;
  left: 2.1875rem;
  border-top: 3px solid var(--bs-white);
  border-left: 3px solid var(--bs-white);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 2.1875rem;
  right: 2.1875rem;
  border-bottom: 3px solid var(--bs-white);
  border-right: 3px solid var(--bs-white);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 1.25rem;
  color: var(--bs-white);
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--bs-white);
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--bs-white);
  margin: 0 0.125rem;
  font-size: 1.75rem;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--accent);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 0.9375rem;
  left: 0.9375rem;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 0.9375rem;
  right: 0.9375rem;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 2.5rem;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.portfolio-details .container {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
}

.portfolio-details .portfolio-title {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 1.625rem;
  /* font-weight: 700; */
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.portfolio-details .portfolio-info {
  font-family: "Lato", sans-serif;
  color: var(--bs-white);
  padding-top: 2.8125rem;
}

.portfolio-details .portfolio-info h3 {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 0.9375rem;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 0.625rem;
}

.portfolio-details .portfolio-info p {
  font-size: 0.9375rem;
  padding: 0.9375rem 0 0 0;
}

.glightbox-clean .gslide-title {
  color: var(--grey);
  letter-spacing: 0.125rem;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 1.25rem;
  }
}

.portfolio-details-slider img {
  max-height: 79vh;
}

.portfolio-details .swiper-pagination {
  margin-top: 1.25rem;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info-box {
  display: grid;
  align-items: center;
  grid-template-areas:
    "a b"
    "a c";
  grid-template-columns: 3.25rem auto;
  padding: 1.25rem;
  width: 100%;
  background: var(--light-color);
}

.contact .info-box i.bx {
  grid-area: a;
  font-size: 1.5rem;
  color: var(--accent);
  border-radius: 50%;
  padding: 0.875rem;
  float: left;
  background: rgba(255, 255, 255, 0.1);
  max-height: 3.25rem;
}

.contact .info-box h3 {
  font-family: "handjet", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--white);
  margin: 0.625rem 0 0.5rem 0.9375rem;
  letter-spacing: 0.1875rem;
}

.contact .info-box p,
.contact .info-box a {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.8125rem;
  padding: 0;
  color: var(--white);
  line-height: 1.5rem;
  /* font-size: 0.875rem; */
  margin: 0 0 0 0.9375rem;
}

.contact .info-box .social-links {
  margin: 0.3125rem 0 0 0.9375rem;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 1.125rem;
  display: inline-block;
  line-height: 1;
  margin-right: 0.75rem;
  transition: 0.3s;
}

.contact .info-box a:hover {
  color: var(--bs-link-hover-color-rgb);
}

.contact .php-email-form {
  padding: 1.875rem;
  background: rgba(255, 255, 255, 0.08);
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 0.9375rem;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 1.5625rem;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #e0bdce;
  text-align: center;
  padding: 0.9375rem;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 0.9375rem;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.625rem -0.375rem 0;
  border: 3px solid #e0bdce;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 0.875rem;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: var(--white);
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 0.625rem 0.9375rem;
}

.contact .php-email-form textarea {
  padding: 0.75rem 0.9375rem;
}

.contact .php-email-form button[type="submit"] {
  background: #e0bdce;
  border: 0;
  padding: 0.625rem 1.875rem;
  color: var(--white);
  transition: 0.4s;
  border-radius: 0.25rem;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #15bb62;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/

.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0.9375rem;
  text-align: center;
  font-size: 0.8125rem;
  color: var(--white);
}

.credits>span {
  color: var(--accent);
}

@media (max-width: 992px) {
  .credits {
    padding: 0.625rem;
  }
}

.credits a {
  color: #65ebba;
  transition: 0.3s;
}

.credits a:hover {
  color: var(--white);
}

/** ScrollBar STYLE */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  background-color: var(--black);
}

::-webkit-scrollbar {
  width: 0.1875rem;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  width: 6.25rem;
  height: 6.25rem;
  background-image: url("https://cryptologos.cc/logos/ethereum-eth-logo.png");
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate 3s linear infinite;
  border: 1px solid #ccc;
  /* Optional: Add a border to see the div */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html,
body {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--accent);
  z-index: 9999;
}

.cursor-dot-outline {
  width: 2.5rem;
  height: 2.5rem;
  background-color: color-mix(in srgb, var(--accent) 50%, transparent);
  z-index: 9998;
}